<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI</title>

    <script src="appui.js"></script>
    <script src="../courselist/courselist.js"></script>
    <script src="../coursechooserpage/coursechooserpage.js"></script>
</head>
<body>

<abeach-appui>
</abeach-appui>

<script>
    document.body.onload = function() {
        let holes = [
            {name: 'Hole 1'}, {name: 'Hole 2'}, {name: 'Hole 3'}, {name: 'Hole 4'}, {name: 'Hole 4'},
            {name: 'Hole 5'}, {name: 'Hole 6'}, {name: 'Hole 7'}, {name: 'Hole 8'}, {name: 'Hole 9'}
        ];
        document.querySelector('abeach-appui').setAttribute('appdata', JSON.stringify( { places: holes } ));
    };
</script>
</body>
</html>
