<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI</title>

    <script src="../sampledata.js"></script>
    <script src="appui.js"></script>
    <script src="../courselist/courselist.js"></script>
    <script src="../coursechooserpage/coursechooserpage.js"></script>

    <link href="../../../global.css" rel="stylesheet" />
    <link href="../courselist/courselist.css" rel="stylesheet" />
    <link href="../coursechooserpage/coursechooserpage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<abeach-appui>
</abeach-appui>

<script>
    document.body.onload = function() {
        document.querySelector('abeach-appui').data = appdata;
    };
</script>
</body>
</html>
