<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CourseList</title>
    <script src="courselist.js"></script>
</head>
<body>
<abeach-courselist></abeach-courselist>

<script>
    document.body.onload = function() {
        let holes = [
            {name: 'Hole 1'}, {name: 'Hole 2'}, {name: 'Hole 3'}, {name: 'Hole 4'}, {name: 'Hole 4'},
            {name: 'Hole 5'}, {name: 'Hole 6'}, {name: 'Hole 7'}, {name: 'Hole 8'}, {name: 'Hole 9'}
        ];
        document.querySelector('abeach-courselist').setAttribute('holes', JSON.stringify(holes));
    };
</script>
</body>
</html>
