<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CourseList</title>
    <script src="../sampledata.js"></script>
    <script src="courselist.js"></script>
    <link href="../../../global.css" rel="stylesheet" />
    <link href="courselist.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<abeach-courselist maxholes="6"></abeach-courselist>

<script>
    document.body.onload = function() {
        document.querySelector('abeach-courselist').data = appdata.places;
    };
</script>
</body>
</html>
