<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Chooser Page</title>

    <script src="../sampledata.js"></script>
    <script src="coursechooserpage.js"></script>
    <script src="../courselist/courselist.js"></script>

    <link href="../../../global.css" rel="stylesheet" />
    <link href="../courselist/courselist.css" rel="stylesheet" />
    <link href="coursechooserpage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<abeach-page-coursechooser>
</abeach-page-coursechooser>

<script>
    document.body.onload = function() {
        document.querySelector('abeach-page-coursechooser').data = appdata.places;
        document.querySelector('abeach-page-coursechooser').addEventListener('clickok', function() {
            alert('OK');
        })
    };
</script>
</body>
</html>
