<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI</title>

    <script src="coursechooserpage.js"></script>
    <script src="../courselist/courselist.js"></script>
</head>
<body>

<abeach-page-coursechooser>
</abeach-page-coursechooser>

<script>
    document.body.onload = function() {
        let holes = [
            {name: 'Hole 1'}, {name: 'Hole 2'}, {name: 'Hole 3'}, {name: 'Hole 4'}, {name: 'Hole 4'},
            {name: 'Hole 5'}, {name: 'Hole 6'}, {name: 'Hole 7'}, {name: 'Hole 8'}, {name: 'Hole 9'}
        ];
        document.querySelector('abeach-page-coursechooser').setAttribute('holes', JSON.stringify(holes));
        document.querySelector('abeach-page-coursechooser').addEventListener('clickok', function() {
            alert('OK');
        })
    };
</script>
</body>
</html>
